@import "_reset.scss";

// === common ===
body {
  background-color: rgba(151, 151, 151, 0.301);
  font-family: 'Montserrat', sans-serif;

  input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

// === / common ===

// === header ===
.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #373a3c;
  position: fixed;
  z-index: 100;
  width: 100%;

  // .header__content

  &__content {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    // .menu__list

    &__list {
      display: flex;
      align-items: center;

      li {
        position: relative;

        // наведение на пункты навигационного меню
        &:hover {
          .sub-menu__list {
            display: block;
          }

          .menu__arrow {
            transform: rotate(180deg);
          }
        }
      }

      >li+li {
        margin-left: 30px;
      }

      input {
        width: 210px;
        padding: 10px 0 10px 15px;
        font-size: 16px;
        line-height: 21px;
        color: #435766;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: all .2s ease-in;

        &:hover {
          background-color: #ccc;
        }
      }
    }

    // .menu__link

    &__link {
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease-in;

      &:hover {
        color: #8dd83d;
        text-shadow: 1px 1px 10px #8dd83d;
      }
    }

    // .menu__arrow

  }

  .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    right: -15px;
    background: url(../img/arrow.png) center no-repeat;
    transition: all .5s ease-in;
  }

  .sub-menu {
    // .sub-menu__list

    &__list {
      position: absolute;
      display: none;
      left: 0;
      top: 15px;
      min-width: 150px;
      background-color: #373a3c;
      padding: 25px 0px 0px 10px;

      li {
        padding-bottom: 20px;
      }

      li+li {
        padding: 0;
        padding-bottom: 20px;
      }
    }

    // .sub-menu__link

    &__link {
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease-in;

      &:hover {
        color: #8dd83d;
        text-shadow: 1px 1px 10px #8dd83d;
      }
    }
  }
}

// === / header ===

// // === first slider ===
// .image-slider {
//   padding-top: 60px;
//   position: relative;
//   height: 100%;
//   z-index: 1;
//   // .image-slider__image

//   &__image {

//     // text-align: center;
//     img {
//       width: 100%;
//     }

//     // .image-slider__title
//   }

//   &__title {
//     position: absolute;
//     z-index: 90;
//     top: 40%;
//     left: 55%;
//     color: #fff;
//     font-size: 36px;
//     line-height: 42px;
//     font-weight: bold;
//   }

//   &__sub-title {
//     position: absolute;
//     z-index: 90;
//     top: 47%;
//     left: 55%;
//     color: #fff;
//     font-size: 24px;
//     line-height: 28px;
//   }

//   &__button-green {
//     position: absolute;
//     z-index: 90;
//     top: 70%;
//     left: 55%;
//   }

//   &__button-dark {
//     position: absolute;
//     z-index: 90;
//     top: 70%;
//     left: 66%;

//     &:hover {
//       background: linear-gradient(180deg, #7d7d7e 0%, #373A3C 100%);
//       transform: translateY(-2px);
//     }
//   }
//   // .image-slider__content
// }

.button-dark {
  cursor: pointer;
  color: #fff;
  line-height: 16px;
  padding: 9px 20px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border: none;
  border-radius: 4px;
  transition: all .2s ease-in;

  a {
    color: #fff;
  }
}

.button-green {
  cursor: pointer;
  color: #fff;
  line-height: 16px;
  padding: 9px 20px;
  background-color: #8dd83d;
  border: none;
  border-radius: 4px;
  transition: all .2s ease-in;

  a {
    color: #fff;
  }

  &:hover {
    background-color: #a6f551;
    transform: translateY(-2px);
  }
}

// // slider 
// .image-slider .swiper-button-prev::after {
//   color: #8dd83d;
//   font-size: 15px;
//   font-weight: 900;
//   margin-left: 100px;
// }

// .image-slider .swiper-button-next::after {
//   color: #8dd83d;
//   font-size: 15px;
//   font-weight: 900;
//   margin-right: 100px;
// }

// .swiper-pagination {
//   margin-bottom: 40px;
// }

// .swiper-pagination-bullet {
//   width: 15px;
//   height: 15px;
//   line-height: 30;
//   font-size: 20px;
//   background-color: transparent;
//   border: 1px solid #8dd83d;
// }

// .swiper-pagination-bullet-active {
//   background-color: #92ff1e;
// }

// // / === slider ===

// // === offer ===
// .offer {
//   background-color: #979797;
//   color: #fff;
//   padding-bottom: 150px;

//   // .offer__desc

//   &__desc {
//     width: 80%;
//     margin: 0 auto;
//     padding: 60px 25px 40px 25px;
//     text-align: center;

//     h2 {
//       font-size: 48px;
//       line-height: 56px;
//     }

//     h3 {
//       font-size: 36px;
//       line-height: 42px;
//     }
//   }

//   // .offer__items

//   &__items {
//     display: flex;
//   }

//   // .offer__item

//   &__item {
//     flex: 1 1 33.333%;
//     background-color: #fff;
//     margin-left: 55px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     &:first-child {
//       margin-left: 0;
//     }
//   }

//   // .offer__item-image

//   &__item-image {
//     img {
//       width: 100%;
//       height: 180px;
//       object-fit: revert;
//     }
//   }

//   // .offer__item-text

//   &__item-text {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 22px;
//     color: #435766;
//     position: relative;
//   }

//   // .offer__item-title

//   &__item-title {
//     align-self: flex-start;
//     margin-bottom: 15px;
//     font-size: 18px;
//     line-height: 21px;
//   }

//   // .offer__item-content

//   &__item-content {
//     margin-bottom: 30px;
//     font-size: 22px;
//     line-height: 28px
//   }

//   // .offer__item-button

//   &__item-button {
//     display: block;
//     text-align: center;
//     padding: 20px 15px;
//     font-size: 16px;
//     line-height: 21px;

//   }
// }

// // === / offer ===

// // === games-slider ===
// .games {
//   position: relative;
//   background: url(../img/bg_games.png) center / cover no-repeat;
//   padding-bottom: 60px;
//   z-index: 5;
//   .games-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.507);
//     z-index: 1;
//   }

//   // .games__title

//   &__title {
//     position: relative;
//     z-index: 2;
//     font-size: 36px;
//     line-height: 42px;
//     color: #ffffff;
//     text-align: center;
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }

//   // .games__button

//   &__button {
//     position: relative;
//     z-index: 2;
//     display: inline-block;
//     margin-left: 50%;
//     transform: translateX(-50%);
//     padding: 15px 47px;

//     &:hover {
//       box-shadow: 0 0 10px #fff;
//       background: linear-gradient(180deg, #7d7d7e 0%, #373A3C 100%);

//     }
//   }
// }

// .games-slider {
//   height: 600px;

//   // .games-slider__wrapper

//   &__wrapper {
//     width: 1180px;
//     margin: 0 auto;
//   }

//   // .games-slider__slide

//   &__slide {
//     display: flex;
//     flex-direction: column;
//     width: 320px;
//     height: 460px;
//     border-radius: 4px;
//     border: 1px solid #8dd83d;
//     background-color: rgba(255, 255, 255, 0.829);
//     cursor: grab;

//     &:hover {
//       transform: scale(1.1);
//       transform: translateY(-5px);
//     }
//   }

//   // .games-slider__img

//   &__img {
//     flex: 0 0 45%;
//     text-align: center;
//     height: 200px;

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

//   // .games-slider__content

//   &__content {
//     flex: 0 0 55%;
//     display: flex;
//     max-height: 100%;
//     justify-content: space-between;
//     flex-direction: column;
//     padding: 20px;
//     font-size: 18px;
//     line-height: 21px;
//     color: #435766;
//   }

//   // .games-slider__title

//   &__title {
//     margin-bottom: 16px;
//   }

//   // .games-slider__text

//   &__text {
//     margin-bottom: 45px;
//     height: 150px;
//     overflow: hidden;
//   }

//   // .games-slider__button

//   &__button {
//     text-align: center;
//     padding: 20px 80px;
//   }
// }

// .games-slider .swiper-button-prev::after {
//   color: #b9ff6e;
//   transform: translateY(-250px);
//   font-size: 30px;
//   font-weight: 900;
//   margin-left: 100px;
// }

// .games-slider .swiper-button-next::after {
//   position: absolute;
//   color: #b9ff6e;
//   transform: translateY(-250px);
//   font-size: 30px;
//   font-weight: 900;
//   margin-right: 100px;
// }

// // === / games-slider ===


// // === design === 
// .design {
//   background: url(../img/bg3.png) center/cover no-repeat;
//   height: 480px;

//   // .design__wrap

//   &__wrap {
//     max-width: 1100px;
//     margin: 0 auto;
//   }

//   // .design__title

//   &__title {
//     padding-top: 100px;
//     padding-bottom: 10px;
//     font-size: 48px;
//     line-height: 56px;
//     color: #ffffff;
//   }

//   // .design__subtitle

//   &__subtitle {
//     font-size: 24px;
//     line-height: 28px;
//     color: #ffffff;
//     padding-bottom: 40px;
//   }
// }

// .design__btn-dark {
//   padding: 20px 50px;

//   &:hover {
//     box-shadow: 0 0 5px rgb(0, 0, 0);
//     background: linear-gradient(180deg, #7d7d7e 0%, #373A3C 100%);
//   }
// }

// .design__btn-green {
//   padding: 20px;
//   margin-left: 15px;

//   &:hover {
//     box-shadow: 0 0 5px rgb(0, 0, 0);
//   }
// }

// === / design ===

// === footer ===
.footer {
  background-color: #373a3c;
  list-style: none;
  padding-top: 50px;
  // .footer__wrap

  &__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }

  // .footer__xbox

  &__xbox {
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
  }

  // .footer__list

  &__list {
    margin-top: 35px;

    li {
      margin-bottom: 20px;
    }
  }

  // .footer__link

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    transition: all 0.2s ease-in;

    &:hover {
      color: greenyellow;
    }
  }

  // .footer__developers

  &__developers {
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
  }

  // .footer__follow

  &__follow {
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;

    .footer__list {
      display: flex;

      li+li {
        margin-left: 20px;
      }
    }
  }
}

.footer__desc {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #fff;
  }

  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

// === / footer ===